@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html lang="en">    
<head>    

    <title>Million Dollars Page</title>     
    <link rel="stylesheet" href="css/styles.css?v=1.0">    
</head>     
<body>    
 <canvas id="myCanvas" width="1000" height="1000"></canvas>
</body>    
</html> 