@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html lang="en">    
<head>    

    <title>Million Dollars Page</title>     
    <link rel="stylesheet" href="css/styles.css?v=1.0">    

</head>     
<body>    
    <h1 style="text-align:center" >Welcome!</h1>     
</body>    

</html>  
